.top
  .login 
    label.login__label(for='uname') 表示名：
    input.login__input.js-inputUserName(type='text', id='name', name='uname')
    button.login__button.js-enterButton(type='submit', id='send') 入室