section.rouletteContainer
  .roulette
    .roulette__image
    .roulette__labelContainer.js-rouletteLabelContainer
      .roulette__label.js-rouletteLabel 田中
      .roulette__label.js-rouletteLabel 鈴木
      .roulette__label.js-rouletteLabel 佐藤
    .roulette__pin
  .inputArea
    textarea.inputArea__inputBox.js-inputBox(id='js-inputBox', cols='40',rows='10')
      | 田中
      | 鈴木
      | 佐藤
    .inputArea__buttonArea
      button.inputArea__button.js-startButton(type='button') START